{% extends 'backend/backendbase.html' %}


{% block content %}
    <div>
        <form action="" method="post" class="form-group">
            {% csrf_token %}
            <p>添加文章</p>
            <p>标题</p>
            <p><input type="text" name="title" id="id_title" class="form-control"></p>
            <p>内容(kindeditor编辑器，支持拖放/粘贴上传图片)</p>
            <p>
                <textarea name="content" id="id_content" cols="60" rows="10"></textarea>
            </p>
            <p><input type="submit" value="发布" class="btn btn-danger"></p>
        </form>
    </div>

    <script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#id_content', {
                width: '100%',
                height:'450px',
                resizeType:0,
                // 上传文件路径
                uploadJson : '/upload_img/',
                // 携带额外的键值对参数
                 extraFileUploadParams :{
                    'csrfmiddlewaretoken':"{{ csrf_token }}"
                 }
            });
        });
    </script>
{% endblock %}