{% extends 'base.html' %}
{% block css %}
    <style>
        #div_digg {
            float: right;
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 12px;
            width: 125px;
            text-align: center;
            margin-top: 10px;
        }

        .diggit {
            float: left;
            width: 46px;
            height: 52px;
            background: url(/static/img/up.gif) no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .buryit {
            float: right;
            margin-left: 20px;
            width: 46px;
            height: 52px;
            background: url(/static/img/down.gif) no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .clear {
            clear: both;
        }

        .diggword {
            margin-top: 5px;
            margin-left: 0;
            font-size: 12px;
            color: gray;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <div>
        {{ article.content|safe }}
    </div>
    {#    点赞点踩开始#}
    <div class="clearfix">
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article.up_num }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article.down_num }}</span>
            </div>
            <span class="errors" style="color: red"></span>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips">
            </div>
        </div>
    </div>
    {#      点赞点踩结束#}
    {#    评论楼开始#}

    {#    #1楼 2015-10-17 23:02 屌丝大叔的笔记#}
    <ul class="list-group">
        {% for comment in comment_list %}
            <li class="list-group-item">
                <div>
                    <span>#{{ forloop.counter }}楼</span>
                    <span>{{ comment.create_time|date:'Y-m-d' }}</span>
                    <span><a href="/{{ comment.user.username }}">{{ comment.user.username }}</a></span>
                    <span class="pull-right reply" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}"><a>回复</a></span>
                </div>
                {% if comment.parent %}
                    <p><a>@</a>{{ comment.parent.user.username }}</p>
                {% endif %}
                {{ comment.content }}
            </li>
        {% endfor %}
    </ul>



    {#    评论楼结束#}
    {#    评论开始#}
    <div>
        <p>发表评论</p>
        <p>
            昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                      value="{{ request.user.username }}">
        </p>
        <p>评论内容:</p>
        <p>
            <textarea name="comment" id="id_comment" cols="60" rows="10"></textarea>
        </p>
        <p>
            <input type="button" value="提交评论" class="btn btn-primary" id="id_input">
        </p>
    </div>
    {#    评论结束#}
    <script>
        // 先定义全局存储父标签id值的变量
        var parentId = '';
        //点赞点踩前端代码
        $('.action').click(function () {
            var is_up = $(this).hasClass('diggit');
            // 获取当前递减
            var $span = $(this).children();
            {#alert($span);#}
            {#alert($span.text());#}
            $.ajax({
                url: '/up_or_down/',
                type: 'post',
                data: {'is_up': is_up, 'article_id': "{{ article.pk }}", 'csrfmiddlewaretoken': "{{ csrf_token }}"},
                success: function (data) {
                    if (data.code == 100) {
                        // 给用户提示点赞或点踩成功
                        $span.text(Number($span.text()) + 1);
                        $(".errors").html(data.msg)
                    } else {
                        $(".errors").html(data.msg)
                    }
                }
            })
        });

        //评论前端代码
        $('#id_input').click(function () {
            // 需要将文本@用户名 删除
            var content = $('#id_comment').val();
            // 判断父评论变量是否有值从而决定是否对用户提交的内容解析切分
            if (parentId){
                // 获取\n对应的索引值 又因为切片取值顾头不顾尾,所有需要给\n索引加1来解析字符串的切割
                var index = content.indexOf('\n')+1;
                // 截断文本前面@用户名的文本值
                content = content.slice(index);
                {#console.log(content)#}
            }
            $.ajax({
                url: '/comment/',
                type: 'post',
                data: {
                    'article_id': '{{ article.pk }}', 'content':content,
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'parent_id':parentId
                },
                success: function (data) {
                    if (data.code == 100) {
                        var name = "{{ request.user.username }}";
                        var content = $('#id_comment').val();
                        // ajax评论样式渲染  esc6新语法 模板字符串替换
                        temp_str = `
                    <li class="list-group-item">
                        <div>
                        <span>${name}</span>
                        </div>
                        ${content}
                     </li>
                    `;
                        $('.list-group').append(temp_str);
                        // 清空评论框内部的文本值
                        $('#id_comment').val('');
                        // 将parentId手动置为空   不然只要提交了一次子评论,后续所有的评论都变成了子评论
                        parentId = ''
                    }

                }
            })
        });
        // 回复按钮绑定事件
        $('.reply').click(function () {
            // 获取评论对应的用户名
            var username = $(this).attr('username');
            // 1.将用户名添加到用户评论框中  jQuery支持链式操作,所有渲染文本已经自动获取焦点一行即可实现
            $('#id_comment').val('@'+username+'\n').focus();
            // 2.评论框自动获取焦点
            {#$('#id_comment').focus();#}
            // 给全局的记录评论id值的变量赋值
            parentId = $(this).attr('comment_id');
        })
    </script>
{% endblock %}