<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">登录</h2>
            <hr>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">用户名</label>
                <input type="text" name="username" id="id_username" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_password">密码</label>
                <input type="password" name="password" id="id_password" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_code">验证码</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="code" id="id_code" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <img src="/get_code/" alt="" width="280" height="35" id="id_img">
                    </div>
                </div>
            </div>
            <input type="button" value="登录" class="btn btn-success" id="id_button">
            <span class="errors" style="color: red"></span>
        </div>
    </div>
</div>

<script>
    $("#id_img").click(function () {
        // 获取img标签src属性
        var oldPath = $(this).attr('src');
        $(this).attr('src',oldPath+='?')
    });
    $('#id_button').click(function () {
        $.ajax({
            url:'',
            type:'post',
            data:{
                    'username':$('#id_username').val(),
                    'password':$('#id_password').val(),
                    'code':$('#id_code').val(),
                    // 两种获取csrf校验值的方式
                    'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()
                    {#'csrfmiddlewaretoken':"{{ csrf_token }}"#}
            },
            success:function (data) {
                if (data.code == 100){
                    // 登录成功直接跳转网址主页
                    location.href = data.url
                } else {
                    // 将错误信息统一渲染到button按钮下面的span标签中
                    $('.errors').html(data.msg)
                }
            }
        })
    })
</script>
</body>
</html>