<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">修改密码</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_oldpassword">用户名:</label>
                    <input type="text" name="old_password" id="id_oldpassword" class="form-control " value="{{ request.user.username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="id_oldpassword">原密码:</label>
                <input type="text" name="old_password" id="id_oldpassword" class="form-control">
                </div>

                <div class="form-group">
                    <label for="id_newpassword">新密码:</label>
                <input type="text" name="new_password" id="id_newpassword" class="form-control">
                </div>

                <div class="form-group">
                    <label for="id_newpassword">确认新密码:</label>
                <input type="text" name="confirm_password" id="id_confirm_password" class="form-control">
                </div>



                <input type="submit" value="修改密码" class="btn btn-success" id="id_button">
                <span class="errors" style="color: red"></span>
            </form>
        </div>
    </div>
</div>

</body>
</html>